:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text color */
  --title-text-cl: var(--black-cl);
  --uppertitle-cl: #757575;

  /* bg color */
  --grey-bg-cl: #757575;
  --dark-bg-cl: #2f303a;
  --acent-cl: #2196f3;

  --white-cl: #ffffff;
  --black-cl: #212121;

  /* others */
  --indent: 30px;
  --items: 4;
}

/* reset styles */

.visuaaly-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
p {
  list-style: none;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}
.logo {
  font-family: var(--secondary-font);
  color: var(--acent-cl);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo-word {
  color: var(--title-text-cl);
}
.footer-logo-word {
  color: var(--white-cl);
}

/* base style */

body {
  font-family: var(--main-font);
  color: var(--title-text-cl);
  margin: 0;
  padding-top: 80px;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--white-cl);

  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.02em;
  color: var(--title-text-cl);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--acent-cl);
}

.header-item {
  position: relative;
}

.header-link-current::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acent-cl);
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.loglin {
  display: flex;
  margin-top: 24px;
}

.contacts-link {
  color: var(--grey-bg-cl);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conttel {
  margin-right: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--acent-cl);
}

.header-list {
  display: flex;
}

.header-item {
  margin-left: 93px;
}

.header-list .header-item + .header-item {
  margin-left: 50px;
}

/* hero section */

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__section {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  color: var(--white-cl);
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Особенности */

.feature__section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature__list {
  display: flex;
}
.feature__item {
  width: 270px;
  margin-right: 30px;
}
.feature__item:last-child {
  margin-right: 0;
}
.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-cl);
  margin-top: 30px;
  margin-bottom: 10px;
}
.feature__uppertitle {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--grey-bg-cl);
}
.feature__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.feature__icon:hover {
  stroke: var(--acent-cl);
}

/* Чем мы занимаемся */

.about__section {
  padding-bottom: 94px;
}
.about__uppertitle,
.team__uppertitle,
.clients__uppertitle {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--black-cl);
}
.about__list {
  display: flex;
}
.about__item {
  width: 370px;
}
.about__list .about__item + .about__item {
  margin-left: 30px;
}
.about__photo {
  position: relative;
}
.about__actions {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  overflow: hidden;

  background-color: rgba(47, 48, 58, 0.8);
}
.about__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-cl);
}

/* Наша команда */
.team__section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__uppertitle {
  margin-bottom: 50px;
  text-align: center;
}
.team__list {
  display: flex;
  margin: -15px;
}
.team__item {
  margin: 15px;
  background: var(--white-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.team__name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: var(--black-cl);
}
.team__position {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: var(--grey-bg-cl);
}

/* Постоянные клиенты */
.clients__section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--white-cl);
}
.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  color: var(--white-cl);
}
.clients__link:hover,
.clients__link:focus {
  --color3: var(--acent-cl);
  --color2: var(--acent-cl);
  border: 1px solid var(--acent-cl);
}
.clients__icon {
  fill: currentColor;
}

/* Портфолио */

.portfolio__sections {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__menu {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.portfolio__subject {
  box-sizing: border-box;
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.portfolio__subject:hover,
.portfolio__subject:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__foto {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__overlay {
  transform: translateY(0);
  opacity: 1;
}
.portfolio__text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--white-cl);
}
.portfolio__flex {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--black-cl);
}
.portfolio__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--grey-bg-cl);
}

/* btn */

.btn {
  font-family: 'Roboto';
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-cl);
  background-color: var(--acent-cl);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__btn--light {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  border-radius: 4px;

  color: var(--black-cl);
  background-color: #f5f4fa;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__btn--light:focus,
.btn__btn--light:hover {
  color: var(--white-cl);
  background-color: var(--acent-cl);
}
.btn__btn--darc {
  text-align: center;
  min-width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.btn__btn--darc:focus,
.btn__btn--darc:hover {
  background-color: #188ce8;
}

/* socials icons */
.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #afb1b8;
  background-color: var(--white-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover,
.socials__link:focus {
  color: var(--white-cl);
  background-color: var(--acent-cl);
}
.socials__icon {
  fill: currentColor;
}
/* footer socials icons */
.footer-socials {
  align-items: baseline;
  display: flex;
  justify-content: center;
  display: inline-block;
  flex-wrap: wrap;
  margin-right: 93px;
  margin-left: 70px;
}
.footer-socials__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-cl);
}
.footer-socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--white-cl);
  background-color: rgba(255, 255, 255, 0.1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__link:hover,
.footer-socials__link:focus {
  color: var(--white-cl);
  background-color: var(--acent-cl);
}
.footer-socials__icon {
  fill: currentColor;
}

/* LOGO */
.footlog {
  display: flex;
  margin-bottom: 20px;
}

/* footer */
.footer {
  background-color: var(--dark-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__conteiner {
  display: flex;
  align-items: baseline;
}
.footer__list {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-cl);
}
.footer__list .footer__list + .footer__list {
  margin-top: 9px;
}
.footer__adress {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscription {
  display: block;
  width: 570px;
  margin-right: 0;
  padding: 0;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white-cl);
}
.footer__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__input {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: #2f303a;
  color: var(--white-cl);
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  width: 200px;
  height: 50px;

  padding: 10px 28px;

  color: var(--white-cl);
  fill: var(--white-cl);
  background-color: var(--acent-cl);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.icon-letter {
  margin-right: 10px;
  fill: currentColor;
}

.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

.icon-letter:hover,
.icon-letter:focus,
.header-link-current {
  color: var(--acent-cl);
}
.contacts-link {
  align-items: center;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--acent-cl);
}

/* modal window */

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate (-50% -50%) scale(1);
}

.backdrop .modal {
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 2000ms linear,
    visibility 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  padding: 40px;

  background: var(--white-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #0000001a;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--acent-cl);
}
.register-form {
  text-align: center;
}

.form-title {
  display: block;
  align-items: center;
  width: 448px;
  height: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-cl);
}

.register-form-group {
  display: flex;
  flex-direction: column;
}

.register-form-wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register-form-input,
.register-form-message {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: var(--white-cl);

  border-radius: 4px;
  padding: 10px;
  padding-left: 42px;

  outline: transparent;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: var(--black-cl);
  transform: translateY(-50%);
}

.register-form-input:focus-within,
.register-form-message:focus-within {
  border: 1px solid var(--acent-cl);
}

.register-form-input:focus-within + .modal-form-icon {
  fill: var(--acent-cl);
}

.register-form-label {
  display: block;
  position: relative;
  margin-bottom: 4px;

  text-align: left;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.01em;
  color: var(--grey-bg-cl);
}

.form-input-icon {
  position: relative;
}

.register-form-wrap:last-child {
  margin-bottom: 0;
}

.register-form-message {
  height: 120px;
  width: 100%;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.register-form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-checkbox-icon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-agreement-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  user-select: none;

  color: var(--grey-bg-cl);
}

.form-agreement-link {
  color: var(--acent-cl);
  text-decoration: underline;
  text-underline-position: under;
}
.form-modal-checkbox-uncheck {
  opacity: 1;
}
.form-modal-checkbox-check {
  opacity: 0;
}
.register-checkbox:checked + .form-modal-checkbox-uncheck {
  opacity: 0;
  transition: opacity var(--trans);
}

.register-checkbox:focus + .form-checkbox-icon .form-modal-checkbox-uncheck {
  fill: rgba(33, 150, 243, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-checkbox:checked + .form-checkbox-icon .form-modal-checkbox-check {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.form-btn {
  width: 200px;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  color: var(--white-cl);
  background: var(--acent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
