.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    user-select: none;

    color: var(--grey-bg-cl);
  }

  &__link {
    color: var(--acent-cl);
    text-decoration: underline;
    text-underline-position: under;
  }
}
.form-checkbox-icon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.form-modal-checkbox-uncheck {
  opacity: 1;
}
.form-modal-checkbox-check {
  opacity: 0;
}
.checkbox__register:checked + .form-modal-checkbox-uncheck {
  opacity: 0;
  transition: opacity var(--trans);
}
.checkbox__register:focus + .form-checkbox-icon .form-modal-checkbox-uncheck {
  fill: rgba(33, 150, 243, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__register:checked + .form-checkbox-icon .form-modal-checkbox-check {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
